[submodule "assignment2/libchaos"]
	path = assignment2/libchaos
	url = https://github.com/ChaoticConundrum/libchaos.git
[submodule "final/libchaos"]
	path = final/libchaos
	url = ssh://veralez/git/libchaos.git
